.offer { width: 100%; background-color: #000; }

.offer__text { color: #fff; font-size: 14px; margin-bottom: 0; padding: 8px; }

.navbar { padding: 30px 20px; color: #000; }

.navbar-light .navbar-nav .nav-link { color: #000; font-size: 14px; }

.navbar-light .navbar-nav .nav__link--active { color: #8b2321; }

.menu-icons { width: 120px; }

@media screen and (min-width: 310px) { .navbar-brand img { width: 150px; }
  .navbar-light .navbar-toggler { width: 40px; height: 40px; font-size: 15px; text-align: center; padding: 0; } }

@media screen and (min-width: 768px) { .navbar-brand img { width: auto; }
  .navbar-light .navbar-nav .nav-link, .menu-icons { font-size: 16px; } }

@media screen and (min-width: 1200px) { .navbar-light .navbar-nav .nav-link, .menu-icons { font-size: 18px; } }

.banner__item { height: 200px; }

.banner__item--highlither { background-image: url("../../Assets/utils.png"); background-color: #c4c4c4; background-blend-mode: overlay; }

.banner__item--important { background-image: url("../../Assets/image 5.png"); background-color: #800e0c; background-blend-mode: multiply; color: #fff; }

.banner__item--important p { padding: 10px 13px; font-size: 12px; font-family: "Rozha One", serif; }

.banner__item--important h2 { font-size: 28px; line-height: 38px; font-family: "Rozha One", serif; }

.btn-arrow { width: 135px; font-size: 12px; color: #fff; border-bottom: 2px solid #fff; }

@media screen and (min-width: 768px) { .btn-arrow { font-size: 16px; } }

.btn-arrow:hover { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; cursor: pointer; border-radius: 5px; background-color: rgba(255, 255, 255, 0.1); }

@media screen and (min-width: 768px) { .banner__item--important p { padding: 10px 13px; font-size: 14px; }
  .banner__item--important h2 { font-size: 38px; } }

@media screen and (min-width: 1200px) { .banner__item--important h2 { font-size: 48px; } }

.newsletter { width: 100%; height: 270px; padding: 30px 0px; background-color: #f1f1f1; position: relative; overflow: hidden; }

.newsletter::before { content: ""; position: absolute; top: 0px; left: 10px; width: 100%; height: 100%; background-image: url("../../Assets/logo.svg"); opacity: 0.02; background-repeat: repeat; }

.newsletter__wrapper { width: 100%; height: 100%; position: relative; }

.newsletter__title { font-size: 28px; margin-bottom: 24px; }

.newsletter__text { font-size: 16px; margin-bottom: 24px; text-align: center; }

@media screen and (max-width: 768px) { .newsletter__text { width: 100%; } }

.newsletter__input { max-width: 100%; width: 560px; height: 40px; margin-bottom: 15px; }

@media screen and (max-width: 768px) { .newsletter__input { width: 100%; } }

.newsletter__checkbox { margin-bottom: 15px; }

.newsletter__checkbox label { cursor: pointer; }

.newsletter .btn-arrow { width: 135px; font-size: 12px; color: #000; border-bottom: 2px solid #000; }

@media screen and (min-width: 768px) { .newsletter .btn-arrow { font-size: 16px; } }

.newsletter .btn-arrow:hover { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; cursor: pointer; border-radius: 5px; background-color: rgba(0, 0, 0, 0.1); }

.inspirated { width: 100%; padding: 40px 0; }

.inspirated__bg { color: #f0f0f0; font-size: 68px; font-family: "Rozha One", serif; text-align: center; }

@media screen and (min-width: 768px) { .inspirated__bg { font-size: 98px; } }

.inspirated__title { font-size: 28px; margin-top: -50px; text-align: center; }

.inspirated__wrapper { width: 100%; }

.swiper { width: 100%; height: 100%; }

.swiper-slide { background: #fff; background-position: center; background-size: cover; }

.card { border: none; }

.card__separate { color: #8b2321; display: block; width: 55px; height: 10px; }

.inspirated__btn { padding: 10px 25px; border-radius: 20px; color: #000; }

.showroom { width: 100%; height: 700px; position: relative; background-image: url("../../Assets/showroom_banner.png"); background-repeat: no-repeat; background-size: cover; }

.showroom::before { content: ""; width: 100%; height: 100%; position: absolute; top: 0; background-color: rgba(0, 0, 0, 0.6); }

.showroom__wrapper { height: 100%; position: relative; }

.showroom__bg { color: #dedede; opacity: 0.3; font-size: 58px; font-family: "Rozha One", serif; text-align: center; }

@media screen and (min-width: 768px) { .showroom__bg { font-size: 98px; } }

.showroom__title { font-size: 28px; margin-top: -40px; text-align: center; color: #fff; }

@media screen and (min-width: 768px) { .showroom__title { margin-top: -50px; } }

.showroom__date { -ms-flex-item-align: start; align-self: flex-start; padding-bottom: 20px; border-bottom: 2px solid #fff; color: #fff; margin-left: 100px; }

.showroom__text { font-size: 24px; color: #fff; text-align: center; font-family: "Rozha One", serif; line-height: 28px; font-weight: 400; }

@media screen and (min-width: 768px) { .showroom__text { font-size: 28px; } }

.showroom__btn { font-weight: 700; }

.footer { width: 100%; height: 500px; background-color: #757575; }

body { font-family: "Titillium Web", sans-serif; font-weight: 400; position: relative; }
/*# sourceMappingURL=main.css.map */