@mixin button($color: #fff) {
	width: 135px;
	font-size: 12px;
	color: $color;
	border-bottom: 2px solid $color;

	@media screen and (min-width: 768px) {
		font-size: 16px;
	}

	&:hover {
		transition: all 0.3s ease;
		cursor: pointer;
		border-radius: 5px;
		background-color: transparentize($color, 0.9);
	}
}
