$font-primary: "Titillium Web", sans-serif;
$font-titles: "Rozha One", serif;

$color-secundary: #8b2321;
$color-darkgray: #757575;
$color-gray: #f1f1f1;
$color-lightgray: #dedede;

$size-subtitle: 28px;

// ICONOS
// <i class="fas fa-search"></i> - SEARCH
// <i class="fas fa-phone-alt"></i> - PHONE
// <i class="fas fa-map-marker-alt"></i> - LOCATION
// <i class="fas fa-store"></i> - STORE
// <i class="fab fa-facebook-f"></i>  - FACEBOOK
// <i class="fab fa-instagram"></i> - INSTAGRAM
// <i class="fas fa-long-arrow-alt-right"></i> - ARROW
