.inspirated {
	width: 100%;
	padding: 40px 0;
}

.inspirated__bg {
	color: #f0f0f0;
	font-size: 68px;
	font-family: $font-titles;
	text-align: center;

	@media screen and (min-width: 768px) {
		font-size: 98px;
	}
}

.inspirated__title {
	font-size: 28px;
	margin-top: -50px;
	text-align: center;
}

.inspirated__wrapper {
	width: 100%;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	background: #fff;
	background-position: center;
	background-size: cover;
}

// .swiper-slide img {
// 	display: block;
// 	width: 100%;
// 	height: 100%;
// 	object-fit: cover;
// }

.card {
	border: none;
}

.card__separate {
	color: $color-secundary;
	display: block;
	width: 55px;
	height: 10px;
}

.inspirated__btn {
	padding: 10px 25px;
	border-radius: 20px;
	color: #000;
}
