.inspirated {
  width: 100%;
  padding: 40px 0;
}

.inspirated__bg {
  color: #f0f0f0;
  font-size: 98px;
  font-family: $font-titles;
}

.inspirated__title {
  margin-top: -50px;
}

.swiper {
  padding: 50px;
  width: 100%;
  margin-bottom: 30px;
}

.swiper-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  width: 50%;
  border: none;
}

.card__separate {
  color: $color-secundary;
  height: 3px;
  width: 50px;
}

.card__title {
  width: 50%;
}
